<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update User</title>
</head>
<body>
   <p th:text="${session.tienda}" th:unless="${session == null}">[...]</p>
    <a th:href="@{/}">Regresar</a>
    <h3>Update User</h3>
    <br>
	<form action="#" th:action="@{/updateform/{id}(id=${user.id})}" th:object="${user}" method="post">
	
		<label for="username">User</label> 
		<input type="text" th:field="*{username}" name="username" id="username" placeholder="Username"> 
		<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
		<br>	
		<label for="nombre">Nombre</label> 
		<input type="text" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Nombre">
		<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
		<br>	
		<label for="email">Email</label> 
		<input type="text" th:field="*{email}" id="email" name="email" placeholder="Email">
		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		<br>	
		<label for="estatus">Estatus</label> 
		<input type="text" th:field="*{estatus}" id="estatus" name="estatus" placeholder="Estatus">
		<span th:if="${#fields.hasErrors('estatus')}" th:errors="*{estatus}"></span>
		<br>
		<label for="password">*(Nuevo Password)</label> 
		<input type="text" value="" th:field="*{password}" id="password" name="password" placeholder="Password">
		<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		<br>
		<label for="fechaRegistro">fechaRegistro</label> 
		<input type="text" th:field="*{fechaRegistro}" id="fechaRegistro" name="fechaRegistro" placeholder="FechaRegistro">
		<span th:if="${#fields.hasErrors('fechaRegistro')}" th:errors="*{fechaRegistro}"></span>
		<br>
		<input type="submit" value="Update User">
	</form>
    
 
</body>
</html>